{% extends "base.html" %}
{% block sidebar %}
<ul>
  <li><a href="/bank/home">Home</a></li>
  <li><a href="/bank/transactions">Transaction List</a></li>
  <li><a href="/bank/transfer">Transfer</a></li>
  <li><a href="/bank/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<br><br><br>
Hi ! {{user.get_username}}, You are logged in.
<br><br><br>
Your Account No is {{user.profile.account_no}}.
<br><br><br>
Your Current Balance is {{user.profile.balance}}.
<br><br><br>
{% endblock %}
